# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/
venv_coqui/
# Packaging / build
build/
dist/
*.egg-info/
.eggs/
*.egg

# Caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project artifacts
asset/
torch_wheels/
outputs/
*.wav
*.mp3
